body {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.h_text_tabs>a, .h_logo>a{
    text-decoration: none;
    color: white;
}

.header {
    background: #007765;
   width: 67.5%;
   height: 72px;
   position: fixed;
   margin-left: 50%;
   transform: translateX(-50%);
}

.anchor{
    display: block;
    position: relative;
    top: -72px;
}

.header>.container>.row{
    justify-content: space-between;
    align-items: center;
    margin:0;
    height: 72px;
    padding: 0px 87px 0px 87px;
    
}

.h_text_tabs {   
    padding-right: 10px;
}

.h_text {
    display: flex;
    justify-content: flex-end; 
}

main {
    padding-top: 72px;
    z-index: -1;  
}
.ladoga {
    background-image:  url('img/ladoga.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

td {
    color: black;
    border: 1px solid black;
}

table {
    width: 100%;
    text-align: center;
}

.tCol>a {
    text-decoration: none;
    color: black;
}

.tColW-1 {
    width: 100px;

}


.docs_img{
    height: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
}
